<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="atbEntities" connectionString="metadata=res://*/db.csdl|res://*/db.ssdl|res://*/db.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=D:\Work.AST\PRJ.MY\ATB\Build\Data\atb.sqlite&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>